/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.tmp.driveupload/79124
/.tmp.driveupload/79126
/.tmp.driveupload/79132
/.tmp.driveupload/79134
/.tmp.driveupload/79138
/.tmp.driveupload/79140
/.tmp.driveupload/132441
**/.DS_Store
/.tmp.driveupload/146348
/.tmp.driveupload/146358
/.tmp.driveupload/146364
/.tmp.driveupload/146370
