body {
    font-family: Arial, sans-serif;
    margin: 0px;
    font-size: 16px;
    color: #333;
}


:root {
    --theme-red: #ed5c56;
    --theme-green: #50C878;
    --theme-orange: darkorange;
    --theme-purple: #d94fde;
    --theme-blue: #56afed;
    --theme-light-grey: #f1f1f1;
    --theme-light-yellow: #fffaf0;
    --theme-light-red: #FCF0F0;
    --theme-light-blue: #f0f8fc;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

ul {
    list-style: none !important;
}
.search-casino-list {
    background-color: var(--theme-light-grey);
    width: inherit;
    position: absolute;
    top: 100%;  /* pour le positionner juste en dessous de l'input */
    left: 0;
    z-index: 1000;

    border-radius: 20px ;
    padding: 10px;
    list-style-type: none;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.list-items::before {
    content:none !important;
    list-style-type: none !important;

}

.list-items {
    content:none !important;
    list-style-type: none !important;
    padding: 10px;
    display:flex;
    font-size: medium;
}
.list-items:hover {
    background-color: #dddddd;
}
.header{
    background-color: white;
    width: 100%;
    height: fit-content;
    min-height: 90px;
    padding: 0 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    box-sizing: border-box;
    border-top: 8px solid  var(--theme-red);
    z-index: 9999;
}

.header img {
    height: 50px;
}

#logo{
    height: 50px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--theme-light-grey);
    width: 600px;
    max-width: 90%;
    height: 50px;
    padding: 0 20px;
    border-radius: 20px;
}

.search-bar input {
    display: block;

    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 10px;
    height: 40px;
    font-size:17px;
    color:#333;
}

.search-bar input::placeholder {
    color: #aaa;
    font-size: 17px;
}

.search-bar img {
    height: 20px;
    margin-right: 10px;
    align-self: center;
    cursor: pointer; /* Indication que c'est cliquable */
}

.search-btn {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.language {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Assure que les éléments à l'intérieur sont alignés au début */
}

.language img {
    height: 20px;
}

.lang-selector, .lang-option {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ajouté pour aligner les éléments au début */
    cursor: pointer;
}

.lang-selector img, .lang-option img {
    margin-right: 10px; /* Ajouté pour donner un peu d'espace entre l'icône et le texte */
}

.lang-dropdown {
    display: none;
    position: absolute;
    top: 150%;
    left: 50%; /* Centré horizontalement */
    transform: translateX(-50%); /* Ajustement pour le vrai centrage */
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 100;
}


.lang-option {
    padding: 10px; /* Ajusté pour donner plus d'espace */
}

.lang-option:hover {
    background-color: var(--theme-light-grey);
}

.lang-option img {
    height: 20px;
}


.btn-online {
    background-color:black;
    padding: 0px 50px; /* Augmentation de la valeur de padding pour le rendre plus large */
    border-radius: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    height: 50px; /* Spécification de la hauteur */
    line-height: 50px; /* Pour centrer verticalement le texte */
    font-size: 17px;
}


.btn-online:hover {
    background-color:  var(--theme-red)/* A bit lighter red when hovered */
}



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}


/* GALLERY */


.gallery {
    background-color: black;
    background-image: url('/img/background.jpg'); /* Remplacez par le chemin de votre image */
    background-repeat: no-repeat; /* Evite la répétition de l'image */
    background-size: cover; /* S'assure que l'image couvre toute la galerie */
    background-position: center; /* Centre l'image d'arrière-plan */
    display: flex;
    align-items: flex-start; /* Alignement des éléments au haut */
    flex-wrap: wrap; /* Permet aux blocs de s'enrouler si nécessaire */
    padding: 20px 0;
    border-top:8px solid grey;
}

.gallery::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari */
}

.block {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    /*margin:  10px; *//* Margin de droite et gauche de 10px et haut/bas de 20px */
   /* width: calc(100%/ 6 - 2*10px - 2*10px);*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 300px;
}


.block-image {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 20px;
}


.block-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px; /* Espace entre l'image et le titre */
}

.casino-name {
    color:  var(--theme-red);
    font-weight: bold;
    margin-bottom: 20px; /* Espace entre le titre et la localisation */
    margin-top: 0px;
}

.description {
    margin: 0 0 15px; /* 15px est juste une valeur indicative, ajustez à votre préférence */
    font-size: 14px; /* Vous pouvez ajuster cette taille selon vos préférences */
    color: #777; /* Une couleur plus claire pour différencier de la couleur du titre et de la localisation */
    margin-top:0px
}

.location-info {
    display: flex;
    align-items: center;
    color: grey;
}

.location-icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.block-location img {
    width: 20px;
    margin-right: 10px;
}

.city-name {
    font-size: 16px;
}

.block-image {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 10px;
}

.casino-name {
    color:  var(--theme-red);
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.short-description {
    display: block;  /* Ajout pour s'assurer qu'il est affiché par défaut */
    font-size: 14px;
}

.long-description {
    display: none;  /* Caché par défaut */
    font-size: 14px;
}

.location-info {
    display: flex;
    align-items: center;
    color: grey;
    justify-content: space-between; /* Ajuste l'espace entre les éléments pour que le bouton + soit aligné à droite */
    width: 100%; /* Prend toute la largeur disponible */
    font-size: 14px;
}

.location-icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.city-name {
    font-size: 14px;

}

.see-more {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.see-more:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.block.expanded {
    flex-basis: calc((100% - 2*20px) / 3 - 2*10px - 2*10px);
    flex-grow: 2;
}

.block.expanded .block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.block.expanded .casino-name,
.block.expanded .short-description,
.block.expanded .long-description {
    margin: 5px 0;
}

/* Supprimer les marges pour .location-info en mode expanded */
.block.expanded .location-info {
    margin: 0;
}

.block.expanded .long-description {
    display: block;
}


.block.expanded .short-description {
    display: none;
}

/* Style pour le bouton "+" */
.add-button {
    background-color:  var(--theme-red);
    color: white;
    border: none;
    border-radius: 10px;
    width: auto;
    padding: 5px 15px;
    height: 30px;
    font-size: 17px;
    text-align: center;
    margin-left: auto;
    cursor: pointer;

    /* Ajout des propriétés pour le centrage vertical et horizontal */
    display: flex;
    align-items: center;
    justify-content: center;
}


.add-button:focus {
    outline: none;
}

.add-button a {
    text-decoration: none;
    color:white;
}

.footer {
    background-color: #222222;
    align-items: center; /* Ajouté pour centrer verticalement les éléments */
    gap: 30px; /* Ajouté pour rapprocher les colonnes */
    border-top: 4px solid  var(--theme-red);
    font-size: 16px;
    padding: 20px 30px;
}

.footer img {
    width: 200px; /* Ajusté à 200px */
    height: auto; /* Ajouté pour conserver les proportions */
}

.column a {
    color: white; /* Modifié pour rendre les liens blancs */
    text-decoration: none; /* Modifié pour supprimer la décoration des liens */
}

.column {
    display:flex;
    flex-direction: column !important;
    gap: 10px !important;
    align-items: start !important;


}

.column-description {
    color: #555; /* gris foncé */

    text-align: justify;
    padding-right: 20px; /* espace entre le texte et la colonne suivante */

}

.column-description p {
    margin: 0; /* pour supprimer les marges par défaut */
    font-size: 16px;
}


.btn-download {
    padding: 0px 50px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    text-align: center;
}

.btn-ios {
    background-color: black;
}

.btn-android {
    background-color: var(--theme-green);
}

.copyright-section {
    background-color: black;

    color: grey;


    align-items: center; /* Pour centrer verticalement les éléments */
    padding: 10px 20px; /* Espace autour des éléments */
}

.copyright-section p {
    margin: 0; /* Retirer la marge par défaut des balises p */
    font-size: 16px;
}

.contact-btn {
    color: grey;
    text-decoration: none; /* Retire le soulignement */
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px 20px; /* Ajout de padding pour rendre le bouton plus grand */
    border-radius: 5px; /* Ajout d'une petite courbure aux coins du bouton */
    transition: background-color 0.3s; /* Transition douce lors du survol */
}

.contact-btn:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Légère surbrillance lors du survol */
}


/* POKER CHIP */

.poker-chip {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--theme-red);
    border: 6px solid #fff; /* Réduit la largeur de la bordure extérieure */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    animation: sway 4s infinite;
}

.inner-border {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 4px dashed white; /* Réduit la largeur de la bordure intérieure */
    position: absolute;
    opacity: 0.6;
}

.inner-circle {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.chip-letter {
    font-size: 32px; /* Réduit la taille de la lettre pour qu'elle s'adapte mieux à la taille réduite du jeton */
    font-weight: bold;
    color: var(--theme-red);
    z-index: 2;
    position: relative;
}

@keyframes sway {
    0%, 100% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
}


/* PAGE INTERNE */

/* Section feuille */
.feuille-container {
    display: flex;
    justify-content: center;
    /*background: url('img/carpet.png') repeat;*/
    background-color: var(--theme-light-grey);
    position: relative;
    padding: 20px 0;
}

.feuille {
    background-color: white;
    width: 60%;
    max-width: 1200px;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px 20px 40px 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* Les enfants sont en ligne */
}

.feuille > h2 {
    width: 100%; /* Le h2 prend toute la largeur */
}

.feuille > h3, .feuille > h4 {
    width: 100%;
}


.feuille > .content-casino {
    flex: 0 0 58%;
    padding-right: 20px; /* On utilise un pourcentage pour éviter d'écraser les autres éléments */
    padding-top: 20px;
}

.feuille > .casino-sidebar {
    flex: 0 0 39%; /* La barre latérale du casino prend 40% de l'espace disponible */
    padding-top: 40px; /* Espace à gauche pour séparer du contenu */
}

/* Styles pour le menu-casino */
.menu-casino {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribue uniformément les éléments */
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}

.menu-casino a {
    text-decoration: none;
    flex: 1; /* Donne à chaque lien la même quantité d'espace */
    display: inline-flex; /* Pour le centrage vertical */
    align-items: center; /* Centrage vertical */
    justify-content: center; /* Centrage horizontal */
    background-color: var(--theme-light-grey);
    color: #333;
    padding: 15px 0; /* padding vertical seulement pour la hauteur des boutons */
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-casino a:last-child {
    margin-right: 0;
}

.menu-casino a:hover, .menu-casino a:focus {
    background-color: var(--theme-red);
    color: white;
}




.casino-block {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--theme-light-grey);
    border-radius: 15px;
}

.casino-block-green, .casino-block-green-online {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--theme-green);
    border-radius: 15px;
    position: relative;
}

.casino-block-green h3, .casino-block-green-online h3 {
    position: relative;
    color: var(--theme-green);
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top:0px;
    margin-bottom: 0px;
}

.casino-block-green h3::before, .casino-block-green-online h3::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute; /* Position absolue pour l'icône */
    left: 10px; /* Distance de l'icône par rapport à la gauche du h3 */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Centrer verticalement */
}

.casino-block-green h3:nth-child(1)::before {
    content: "\f017"; /* Icône pour "Table Games" */
}

.casino-block-green-online h3:nth-child(1)::before {
    content: "\f02b"; /* Icône pour "Table Games" */
}


.casino-block-orange, .casino-block-orange-online  {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--theme-orange);
    border-radius: 15px;
    position: relative;
}

.casino-block-orange h3, .casino-block-orange-online h3 {
    position: relative;
    color: var(--theme-orange);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top:0px;
    background-color: #FCF6F1;
    margin-bottom: 10px;
}

.casino-block-orange h3:last-child, .casino-block-orange-online h3:last-child  {
    margin-bottom: 0px; /* Supprime la marge inférieure du dernier élément h3 */
}

.casino-block-orange h3::before, .casino-block-orange-online h3::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute; /* Position absolue pour l'icône */
    left: 10px; /* Distance de l'icône par rapport à la gauche du h3 */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Centrer verticalement */
}

.casino-block-orange h3:nth-child(1)::before {
    content: "\f522"; /* Icône pour "Table Games" */
}

.casino-block-orange h3:nth-child(2)::before {
    content: "\f155"; /* Icône pour "Slot Machine" (dice) */
}

.casino-block-orange h3:nth-child(3)::before {
    content: "\f51e"; /* Icône pour "Poker" (lizard hand) */
}

.casino-block-orange-online h3:nth-child(1)::before {
    content: "\f522"; /* Icône pour "Table Games" */
}

.casino-block-orange-online h3:nth-child(2)::before {
    content: "\f155"; /* Icône pour "Slot Machine" (dice) */
}

.casino-block-orange-online h3:nth-child(3)::before {
    content: "\f51e"; /* Icône pour "Poker" (lizard hand) */
}

.casino-block-orange-online h3:nth-child(4)::before {
    content: "\f1e3"; /* Icône pour "Poker" (lizard hand) */
}

.casino-block-purple, .casino-block-purple-online {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--theme-purple);
    border-radius: 15px;
    position: relative;
}

.casino-block-purple h3, .casino-block-purple-online h3 {
    position: relative;
    color: var(--theme-purple);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top:0px;
    background-color: #FAF1FC;
    margin-bottom: 10px;
}

.casino-block-purple h3:last-child, .casino-block-purple-online h3:last-child {
    margin-bottom: 0px; /* Supprime la marge inférieure du dernier élément h3 */
}

.casino-block-purple h3::before, .casino-block-purple-online h3::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute; /* Position absolue pour l'icône */
    left: 10px; /* Distance de l'icône par rapport à la gauche du h3 */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Centrer verticalement */
}

.casino-block-purple h3:nth-child(1)::before {
    content: "\f540"; /* Icône pour "Table Games" */
}

.casino-block-purple h3:nth-child(2)::before {
    content: "\f1b9"; /* Icône pour "Slot Machine" (dice) */
}

.casino-block-purple-online h3:nth-child(1)::before {
    content: "\f09d"; /* Icône pour "Table Games" */
}

.casino-block-purple-online h3:nth-child(2)::before {
    content: "\f09d"; /* Icône pour "Slot Machine" (dice) */
}

.casino-block-purple-online h3:nth-child(3)::before {
    content: "\f09d"; /* Icône pour "Table Games" */
}

.casino-block-purple-online h3:nth-child(4)::before {
    content: "\f09d"; /* Icône pour "Slot Machine" (dice) */
}

.casino-block-purple-online h3:nth-child(5)::before {
    content: "\f09d"; /* Icône pour "Slot Machine" (dice) */
}


.casino-block-cons {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--theme-red);
    border-radius: 15px;
    position: relative;
}

.casino-block-cons h3 {
    position: relative;
    color: var(--theme-red);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top:0px;
    background-color: var(--theme-light-grey);
    margin-bottom: 10px;
}

.casino-block-cons h3:last-child {
    margin-bottom: 0px; /* Supprime la marge inférieure du dernier élément h3 */
}

.casino-block-cons h3::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute; /* Position absolue pour l'icône */
    left: 10px; /* Distance de l'icône par rapport à la gauche du h3 */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Centrer verticalement */
}

.casino-block-header-cons {
    background-color: var(--theme-red);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.casino-block-pros {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--theme-green);
    border-radius: 15px;
    position: relative;
}

.casino-block-pros h3 {
    position: relative;
    color: var(--theme-green);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top:0px;
    background-color: var(--theme-light-grey);
    margin-bottom: 10px;
}

.casino-block-pros h3:last-child {
    margin-bottom: 0px; /* Supprime la marge inférieure du dernier élément h3 */
}

.casino-block-pros h3::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute; /* Position absolue pour l'icône */
    left: 10px; /* Distance de l'icône par rapport à la gauche du h3 */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Centrer verticalement */
}

.casino-block-header-pros {
    background-color: var(--theme-green);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.casino-button-container {
    width: 100%; /* Prend la totalité de la largeur de la sidebar */
    padding-bottom: 20px; /* Marge intérieure de 10px */
}

.casino-button-container-inside {
    width: 100%; /* Prend la totalité de la largeur de la sidebar */
    padding-bottom: 0px; /* Marge intérieure de 10px */
}

.casino-register-button {
    background-color: var(--theme-red); /* Couleur de fond rouge */
    color: #fff; /* Texte en blanc */
    width: 100%; /* Prend la totalité de la largeur du conteneur */
    padding: 20px; /* Marge intérieure de 10px */
    border: none; /* Supprimer la bordure du bouton */
    cursor: pointer; /* Changer le curseur au survol */
    text-align: center; /* Centrer le texte */
    border-radius: 10px; /* Ajouter un rayon à la bordure pour des coins arrondis */
    font-size: 20px; /* Taille du texte du bouton */
    transition: background-color 0.3s ease; /* Transition douce au survol */
}

.casino-register-button:hover {
    background-color: var(--theme-blue); /* Couleur de fond bleue au survol */
}

.casino-register-button-inside {
    background-color: var(--theme-blue); /* Couleur de fond rouge */
    color: #fff; /* Texte en blanc */
    width: 100%; /* Prend la totalité de la largeur du conteneur */
    padding: 10px; /* Marge intérieure de 10px */
    border: none; /* Supprimer la bordure du bouton */
    cursor: pointer; /* Changer le curseur au survol */
    text-align: center; /* Centrer le texte */
    border-radius: 10px; /* Ajouter un rayon à la bordure pour des coins arrondis */
    font-size: 20px; /* Taille du texte du bouton */
}

.casino-register-button-inside:hover {
    background-color: var(--theme-red); /* Couleur de fond bleue au survol */
}


.casino-data-container {
    width: 100%; /* Prend la totalité de la largeur de la sidebar */
    padding-bottom: 0px; /* Marge intérieure de 10px */
}

.casino-data-box {
    background-color: var(--theme-light-grey); /* Couleur de fond rouge */
    color: #999; /* Texte en blanc */
    padding: 10px; /* Marge intérieure de 10px */
    border: none; /* Supprimer la bordure du bouton */
    text-align: center; /* Centrer le texte */
    border-radius: 10px; /* Ajouter un rayon à la bordure pour des coins arrondis */
    font-size: 20px; /* Taille du texte du bouton */
    margin-bottom: 10px;

}

.casino-data-box:last-child {
    margin-bottom: 0;
}

.casino-block p {
    font-size: 20px;
    color: #999999;
}

.casino-block a {
    text-decoration: none;
    color:  var(--theme-red);
}

.casino-block h3 {
    position: relative;
    color: var(--theme-red);
    font-size: 24px;
    background-color:var(--theme-light-red);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top:0px;
    margin-bottom:0px;
}



.casino-sidebar .image-casino {
    width: 100%;   /* Force l'image à prendre toute la largeur de la feuille */
    max-height: 100px; /* Limite la hauteur de l'image à 80px */
    object-fit: cover; /* Cela s'assure que l'image couvre toute la zone de l'élément img sans déformation */
    border-radius: 10px;
    margin-top:10px;
}



h1 {
    font-size: 4em;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    position: relative;
    z-index: 2;
    /*  animation: breathe 4s infinite; */
    flex: 1; /* Fait en sorte que le titre occupe tout l'espace restant */
}

@keyframes breathe {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    background-color: var(--theme-light-grey);
    width: 100%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    position: relative;
    color:  var(--theme-red);
    font-size: 20px;
}

h4 {
    position: relative;
    color: darkolivegreen;
    font-size: 20px;
}

ul {
    list-style-type: none; /* Supprime le style de puce par défaut */
    padding-left: 0;      /* Supprime le padding par défaut */
    line-height: 1.5;
    font-size:20px;
}

ul li::before {
    /*content: "\25A0"; */
   /* color:  var(--theme-red);
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: center;*/
}


ul li {
   /* margin-left: 1em; /* Ajoute une marge pour éviter le débordement du carré */
}


.image-casino {
    width: 100%;   /* Force l'image à prendre toute la largeur de la feuille */
    max-height: 400px; /* Limite la hauteur de l'image à 80px */
    object-fit: cover; /* Cela s'assure que l'image couvre toute la zone de l'élément img sans déformation */
    border-radius: 10px;
    margin-top: 20px;
}

.background-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 250px;
    background: url('/img/main.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 4px solid  var(--theme-red);
    text-align: center;
}


.header-container {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 20px; /* Ajoute un peu d'espace entre le jeton et le h1 */
}


.content-container {
    position: absolute;
    bottom: 10px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 2;
}

@keyframes lightFlicker {
    0%   { opacity: 0.3; }
    50%  { opacity: 1; }
    100% { opacity: 0.3; }

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Opacité noire à 30% */
    z-index: 1;
    overflow: hidden;
}

.light {
    position: absolute;
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
    animation: lightFlicker infinite alternate;
    filter: blur(8px);

}

.light1 {
    width: 20px; height: 20px;
    top: 10%; left: 20%;
    animation-duration: 1.3s;
}

.light2 {
    width: 25px; height: 25px;
    top: 20%; left: 50%;
    animation-duration: 1.5s;
}

.light3 {
    width: 30px; height: 30px;
    top: 30%; left: 80%;
    animation-duration: 1.8s;
}

.light4 {
    width: 35px; height: 35px;
    top: 40%; left: 10%;
    animation-duration: 1.4s;
}

.light5 {
    width: 20px; height: 20px;
    top: 40%; left: 70%;
    animation-duration: 1.6s;
}

.light6 {
    width: 25px; height: 25px;
    top: 50%; left: 90%;
    animation-duration: 1.6s;
}

.light7 {
    width: 30px; height: 30px;
    top: 80%; left: 400%;
    animation-duration: 1.7s;
}

.light8 {
    width: 35px; height: 35px;
    top: 70%; left: 30%;
    animation-duration: 1.8s;
}

.light9 {
    width: 20px; height: 20px;
    top: 80%; left: 90%;
    animation-duration: 1.9s;
}


.block-location {
    flex: 1;  /* Chaque bloc prend un tiers de l'espace disponible */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1); /* Opacité noire à 30% */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: white;  /* Contenu en blanc */
    height: auto; /* cela permet au conteneur de s'ajuster à la hauteur de son contenu */
    flex-direction: column; /* cela indique que les enfants Flex doivent être empilés verticalement */
}

.block-location a {
    color: white;
    text-decoration: none;
}

.block-title {
    background: rgba(139, 0, 0, 0.6); /* Dark red with 60% opacity */
    padding: 10px;
    margin-bottom: 10px; /* Space between the title and the content */
    color: white;
    text-align: center;
    border-radius: 10px;
}

.block-content {
    text-align: center;
    color: white;
}


.casino-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px; /* Espacement entre les cellules */
    border-radius: 20px;
    overflow: hidden; /* Pour gérer les coins arrondis */
    background-color: white; /* Changement de couleur ici */
    border: 2px solid var(--theme-light-grey);
    margin-bottom: 30px;

}

.casino-table th, .casino-table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-radius: 10px;
}

.casino-table thead tr {
    background-color: var(--theme-green);
    color: white;
}


.casino-table td img {
    max-width: 50px;
    height: auto; /* pour préserver les proportions */
}

.casino-table thead th {
    background-color: var(--theme-green);
    color: white;
}

.casino-table .warning-cell {
    background-color: var(--theme-light-grey);
    color: #333;
    text-align: center;
    vertical-align: middle; /* centre le contenu verticalement */
}
.casino-table .load-more-cell {
    text-align: center;
    vertical-align: middle; /* centre le contenu verticalement */
    background-color: var(--theme-light-grey);
}


.casino-logo {
    text-align: center;
}

.casino-brand {
    font-weight: bold;
}

.casino-bonus {
    font-weight: bold;
    color: var(--theme-orange);
    background-color: var(--theme-light-yellow);
}

.casino-note {
    font-weight: bold;
    background-color: var(--theme-light-blue);
}

.casino-review {
    font-weight: bold;
    color: var(--theme-blue);
    background-color: var(--theme-light-blue);
}

.casino-review a {
    color: var(--theme-blue);
    text-decoration: underline;
}

.casino-link {
    background-color: var(--theme-light-blue);
}

.casino-link button {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    min-width: 80px;
    background-color: var(--theme-red);
}

.casino-link button:hover {
    background-color: var(--theme-blue);
    color: white;
}


.load-more-btn {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 50%; /* Ceci définira la largeur du bouton à 50% de la largeur de la cellule conteneur */
    min-width: 80px;
    background-color: var(--theme-blue);
    display: block; /* Ceci s'assure que le bouton s'étend à la largeur définie */
    margin: 0 auto; /* Ceci centrera le bouton horizontalement dans la cellule */
}

.load-more-btn:hover {
    background-color: white;
    color:#333
}

.load-less-btn {
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 50%; /* Ceci définira la largeur du bouton à 50% de la largeur de la cellule conteneur */
    min-width: 80px;
    background-color: white;
    display: block; /* Ceci s'assure que le bouton s'étend à la largeur définie */
    margin: 0 auto; /* Ceci centrera le bouton horizontalement dans la cellule */
}

.load-less-btn:hover {
    background-color:var(--theme-blue);
    color:white
}

.hidden-row {
    display: none;
}



/* LIST CATEGORY */

.casino-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.casino-box {
    border: 2px solid var(--theme-light-grey);
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
    position: relative;
}

.casino-image {
    position: relative;
    padding: 10px; /* Cela remplace la marge que vous aviez sur l'image */
}

.casino-box img {
    width: 100%;
    height: 200px; /* Hauteur fixe. Ajustez cette valeur selon vos besoins. */
    object-fit: cover; /* Recadre l'image pour maintenir le ratio. */
    display: block;
    border-radius: 10px;
}

.casino-info {
    padding: 0px 10px 10px 10px;
}

.casino-info h3 {
    margin: 0px;
    padding: 10px;
    background-color: var(--theme-light-grey);
    text-align: center;
    border-radius: 10px;
}

.category-location {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin:10px;
    padding:10px;
}

.category-location img {
    vertical-align: middle;
    margin-right: 5px;
    max-width: 16px;
    height: auto;
}

.category-location span {
    color: white;
    margin-left: 10px;
}

.casino-info p {
    margin: 10px;
}

.casino-box button {
    background-color: var(--theme-blue);
    color: white;
    padding: 10px 0;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top:20px;
}

.casino-box button:hover, .pagination button:hover {
    background-color: var(--theme-red);
    color: white;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px 0;
    width: 100%;
}

.pagination {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centrer les éléments enfants */
}

.pagination button {
    width: 150px;
    background-color: var(--theme-red);
    color: white;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: var(--theme-blue);
}

.pagination button:hover {
    background-color: var(--theme-blue);
    color: white;
}


/* HEADER BOX CASINO ONLINE */

.review-casino-box {
    width: 100%;
    border-radius: 10px 10px 20px 20px;
    background-image: url('img/main.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 20px;
}

.review-top-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; /* Largeur de 90% pour .review-top-section */
    margin: 0 20px; /* Padding de 20px à gauche et à droite pour .review-top-section */
}

.review-casino-logo {
    padding: 20px;
    max-width: 150px;
}

.review-white-line {
    flex-grow: 1;
    height: 2px;
    background-color: #333;
    margin-right: 20px;
    min-width: 50%;  /* Minimum width */
}


.review-middle-section {
    display: flex;
    justify-content: flex-start; /* ou flex-end, selon le besoin */
    width: 100%;
}

.review-left-col {
    color: white;
    padding-left: 40px;
    padding-right:20px;
}

.review-right-col {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.review-casino-image {
    width: auto;
    margin-right: 20px;
    align-self: flex-end;  /* Forces the image to align to the end of the flex container */
    border-radius: 10px;
}

.review-bottom-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px; /* Padding of 20px on left and right */
}

.review-left-button {
    flex: 1;
    margin: 20px 10px 20px 20px; /* Top, Right, Bottom, Left */
    padding: 20px;
    font-size: 24px;
    border: 2px solid var(--theme-red);
    background: transparent;
    color: white;
    border-radius: 10px;
}

.review-right-button {
    flex: 1;
    margin: 20px 20px 20px 10px; /* Top, Right, Bottom, Left */
    padding: 20px;
    font-size: 20px;
    background: var(--theme-red);
    color: white;
    border-radius: 10px;
    border: none;
}

.review-right-button:hover {
    background: var(--theme-blue);
    color: white;
}

.review-rating-box {
    border-radius: 10px;
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
}

.review-rating-inner {
    display: flex;
    align-items: center;
    font-size: 34px;
    color: white;
}

.review-rating-text {
    font-size: 24px;
}

.review-rating-fraction {
    font-size: 18px;
    color: #ccc;
    margin-left: 4px;
}

.review-star-icon {
    font-size: 20px; /* Taille de l'icône à 20px */
    margin-right: 10px; /* Espace à droite de 10px */
    color: white; /* Couleur de l'icône en jaune */
}

.review-ul {
    list-style-type: none; /* Supprime le style de puce par défaut */
    padding-left: 0;      /* Supprime le padding par défaut */
    line-height: 1.5;
    font-size:18px;
}


.small-img-search{
    border-radius: 0.5rem;
    width: 3rem;
    height: 100% !important;
    max-width: 100%;
    max-height: 2rem;

}



.navbar-collapse{
    flex-grow: initial;
}


.navbar-collapse {
    flex-grow: initial;
    flex-basis: initial;
}
