.google-attribution-class img {
    margin-right: 5px; /* Add some spacing to the right of the image */
}

ul#autocompleteResults{
    z-index:1;
}

.resultsearch {
    z-index: 1;
    position: fixed;
    top: 85px;
    width: 500px;
}


